
:root {
    --primary: #141416;
    --secondary: #282838;
    --accent: #44d8eb;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    text-align: center;
}

canvas {
    width: 1280px;
    height: 720px;
}
